$h: 32px;
$border-color: #d9d9d9;
$color: #333;
$blue: #40a9ff;
$radius: 4px;
$red: red;
$grey: grey;

.wa-button {
  box-sizing: border-box;
  height: $h;
  padding: 0 12px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  background: white;
  color: $color;
  border: 1px solid $border-color;
  border-radius: $radius;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  transition: background 250ms;
  
  & + & {
    margin-left: 8px;
  }
  
  &:hover,
  &:focus {
    color: $blue;
    border-color: $blue;
  }
  
  &:focus {
    outline: none;
  }
  
  &::-moz-focus-inner {
    border: 0;
  }
  
  // 链接主题
  &.wa-theme-link {
    border-color: transparent;
    box-shadow: none;
    color: $blue;
    
    &:hover,
    &:focus {
      color: mix($blue, white, 80%);
    }
  }
  
  // 文本主题
  &.wa-theme-text {
    border-color: transparent;
    box-shadow: none;
    color: inherit;
    
    &:hover,
    &:focus {
      background: #f2f2f2;
    }
  }
  
  // 大尺寸
  &.wa-size-big {
    font-size: 24px;
    height: 48px;
    padding: 0 16px;
  }
  
  // 小尺寸
  &.wa-size-small {
    font-size: 12px;
    height: 20px;
    padding: 0 4px;
  }
  
  // 按钮主题的主要/危险等级
  &.wa-theme-button {
    &.wa-level-main {
      background: $blue;
      color: white;
      border-color: $blue;
      
      &:hover,
      &:focus {
        background: mix($blue, black, 80%);
        border-color: mix($blue, black, 80%);
      }
    }
    
    &.wa-level-danger {
      background: $red;
      border-color: $red;
      color: white;
      
      &:hover,
      &:focus {
        background: mix($red, black, 80%);
        border-color: mix($red, black, 80%);
      }
    }
  }
  
  // 链接主题的危险等级
  &.wa-theme-link {
    &.wa-level-danger {
      color: $red;
      
      &:hover,
      &:focus {
        color: mix($red, black, 80%);
      }
    }
  }
  
  // 文本主题的主要/危险等级
  &.wa-theme-text {
    &.wa-level-main {
      color: $blue;
      
      &:hover,
      &:focus {
        color: mix($blue, black, 80%);
      }
    }
    
    &.wa-level-danger {
      color: $red;
      
      &:hover,
      &:focus {
        color: mix($red, black, 80%);
      }
    }
  }
  
  // 按钮主题禁用样式
  &.wa-theme-button {
    &[disabled] {
      cursor: not-allowed;
      color: $grey;
      
      &:hover {
        border-color: $grey;
      }
    }
  }
  
  // 链接和文本主题禁用样式
  &.wa-theme-link,
  &.wa-theme-text {
    &[disabled] {
      cursor: not-allowed;
      color: $grey;
    }
  }
  
  // 加载指示器
  > .wa-loadingIndicator {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 4px;
    border-radius: 8px;
    border-color: $blue $blue $blue transparent;
    border-style: solid;
    border-width: 2px;
    animation: wa-spin 1s infinite linear;
  }
}

@keyframes wa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}