.docs-content{
    display: flex;
  padding-top: 80px;
  padding-left: 285px;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 285px;
  height: 110vh;
  padding: 100px 0 16px;
  background: #fff;
  box-shadow: 5px 0 5px rgb(51 51 51 / 10%);
  z-index: 1;
  transition: 0.4s cubic-bezier(0.68, 0.18, 0.53, 0.18) 0.1s;
  > h1 {
    padding-left: 40px;
  }
  > ol {
    font-size: 16px;
    color: #6f2e6a;
    line-height: 40px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    cursor: pointer;
    > li {
      font-size: 15px;
      margin-left: 15px;
    }
  }
}
main {
  padding: 38px 20px;
  width: 90%;
}